
  /* Consolidado y optimizado */
body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#content {
    flex: 1;
    min-height: calc(100vh - 300px); /* Asegura una altura adaptable */
}
footer {
    margin-top: auto; /* Empuja el footer hacia el final */
}
